{% extends 'base.html' %}

{% load static %}
		{% block content %}
		<!-- Start Banner Area -->
		<section class="banner-area relative">
			<div class="overlay overlay-bg"></div>
			<div class="container">
				<div class="row fullscreen align-items-center justify-content-between">
					<div class="col-lg-6 col-md-7 col-sm-8">
						<div class="banner-content">
							<h1>Face Features <br> </h1>
							<h3>Detect facial feature location from any picture containing human faces. <h3>
							 	
								
						</div>			
					</div>
					<div class="col-lg-5 col-md-5 col-sm-4">

						<form method="post" enctype="multipart/form-data">
						 {% csrf_token %}
						
						<div class='row mt-3 ml-5'>
							{% if dflag == 'yes' or dflag == 'no' %}
							<img src="{{imgURL}}" id = "detectImage" alt="" class="img-fluid">
							{% else %}
							<img src="{% static 'img\tom-cruise.jpg' %}" id = "detectImage" alt="" class="img-fluid">
							{% endif %}
						</div>	

						<div class='row mt-3 ml-5'>
								<input type="file" name="fileToUpload" id="fileToUpload" accept="image/jpg, image/jpeg, image/png" onchange = "readURL(this);" required>
						</div>
							
						<div class='row mt-3 mx-auto' style="width: 200px;">
								<button type="submit" class="genric-btn primary circle">Features</button>
						</div>

						</form>
						
						<div class='row mt-3 ml-5'>
								{% if dflag == 'yes' %}
								<h4 style = "color:green;"> Facial features detected in uploaded image !!! </h4>
								{% elif dflag == 'no' %}
								<h4 style = "color:red;"> No Face/Faces detected in uploaded image !!! </h4>
								{% else %}
								{% endif %}
						</div>


					</div>
				</div>
			</div>
		</section>
		{% endblock %}
		<!-- End Banner Area -->

		{% block js %}
		<script>
			function readURL(input) {
				if (input.files && input.files[0]) {
					var reader = new FileReader();

					reader.onload = function (e) {
						$('#detectImage')
							.attr('src', e.target.result)
							.width(320)
							.height(300);
					};

					reader.readAsDataURL(input.files[0]);
				}
			}

		</script>
		{% endblock %}